---
import Button from "../ui/button.astro";
import { ArrowRight } from "@lucide/astro";
import { URLS } from "../../lib/URL-helpers";
---

<Button href="/demo" variant="primary" size="md" class="group">
  Try demo
  <ArrowRight class="w-4 h-4 transition-transform duration-200 group-hover:translate-x-1" />
</Button>
