---
import Button from "../ui/button.astro";
import { ArrowRight } from "@lucide/astro";
import { t, localePath, type Locale, DEFAULT_LOCALE } from "../../i18n";

interface Props {
  lang?: Locale;
}

const { lang = DEFAULT_LOCALE } = Astro.props;
---

<Button href={localePath(lang, "/demo")} variant="primary" size="md" class="group">
  {t(lang, "demo.title")}
  <ArrowRight class="w-4 h-4 transition-transform duration-200 group-hover:translate-x-1" />
</Button>
