---
import { getCollection } from "astro:content";
import Layout from "../../../components/layout.astro";
import LearnIndex from "../../../components/learn/learn-index.astro";
import { getStaticLocalePaths, filterByLocale, t, type Locale } from "../../../i18n";

export const getStaticPaths = getStaticLocalePaths;

const lang = Astro.params.lang as Locale;

const allUnits = await getCollection("learn");
const units = filterByLocale(allUnits, lang).map((unit) => ({
  slug: unit.slug.replace(`${lang}/`, ""),
  title: unit.data.title,
  summary: unit.data.summary,
  tags: unit.data.tags,
}));
---

<Layout
  lang={lang}
  title={t(lang, "pages.learn.title")}
  description={t(lang, "pages.learn.description")}
>
  <div class="pt-32 pb-20">
    <LearnIndex units={units} lang={lang} />
  </div>
</Layout>
