---
import { useTranslations } from "../i18n";
import ContactForm from "./contact-form.astro";
import Card from "./ui/card.astro";
import Section from "./ui/section.astro";

const { t } = useTranslations(Astro);
const join = t("join");
---

<Section monoTitle={join.monoTitle} title={join.title} description={join.description}>
  <div class="lg:grid grid-cols-5">
    <Card
      variant="brand"
      shadow="none"
      padding="md"
      radius="none"
      class="col-start-2 col-end-5"
    >
      <ContactForm />
    </Card>
  </div>
</Section>
