---
import { getRelativeLocaleUrl } from "astro:i18n";
import { useTranslations } from "../i18n";
import SuiteDemoButton from "./buttons/suite-demo-button.astro";
import Button from "./ui/button.astro";
import Section from "./ui/section.astro";

const { t, locale } = useTranslations(Astro);
const transform = t("transformYourBusiness");
---

<Section
  monoTitle={transform.monoTitle}
  title={transform.title}
  description={transform.description}
  contentClass="flex flex-wrap justify-center gap-4"
>
  <SuiteDemoButton />
  <Button href={getRelativeLocaleUrl(locale, "/integrations")} variant="link" size="md"
    >{transform.viewIntegrations}</Button
  >
</Section>
