---
import AccentureLogo from "../assets/logos/accenture_logo.svg?raw";
import ElasticLogo from "../assets/logos/elastic_logo.svg?raw";
import MckinseyLogo from "../assets/logos/mckinsey_co_logo.svg?raw";
import MitLogo from "../assets/logos/mit_logo.svg?raw";
import MonoTitle from "./ui/mono-title.astro";

const logos = [
  { svg: AccentureLogo, label: "Accenture" },
  { svg: ElasticLogo, label: "Elastic" },
  { svg: MckinseyLogo, label: "McKinsey & Company" },
  { svg: MitLogo, label: "MIT" },
];
---

<section class="py-12">
  <div class="container mx-auto flex w-full flex-col items-center gap-8 px-4 lg:flex-row lg:justify-between">
    <MonoTitle>/ Trusted in regulated industries</MonoTitle>
    <div class="flex flex-wrap items-center justify-center gap-8 lg:justify-end">
      {
        logos.map((logo) => (
          <span class="flex h-7 w-auto opacity-50 items-center" aria-label={logo.label} title={logo.label} role="img">
            <Fragment set:html={logo.svg} />
          </span>
        ))
      }
    </div>
  </div>
</section>
